header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

nav>ul {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.g3 {
    color: var(--dark-01, #131313);
    /* text-align: center; */
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    color: var(--dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 144.444% */
}

.section-title {
    font-size: 4rem;
    color: var(--dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-cont {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-dis {
    color: var(--dark-03, #727272);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

/* she-style */
.btn-pri {
    width: 180px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-style: none;
    cursor: pointer;


}

.section-para {
    color: var(--dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

/*  */
.banner {
    align-items: center;
}

.banner-img {
    width: 100%;

    flex-shrink: 0;
    margin-top: 20px;
}

/* main */
main {
    padding: 50px 240px;
}

section {
    padding: 0px;
}

.markating-container {
    display: flex;
    align-items: center;
    margin: 20px auto;


}

.markating-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}

.markating-containt {
    padding-left: 70px;
    padding-right: 70px;
    justify-content: center;
}

.facts {}

.cards-container {
    display: flex;
    justify-content: space-around;
}

.card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    width: 200px;
    height: 200px;
    padding: 50px 30px;
}

/* responsive media queries*/
@media screen and (max-width: 576px) {
    header {
        padding: 10px;

    }

    main {
        padding:20px;
    }

    nav,
    .markating-container,
    .cards-container {
        flex-direction: column;
    }

    .markating-img {
        grid-template-columns: 1fr;

    }

    /* .markating-container,
    .cards-container {
        padding-left: 20px;
        padding-right: 20px;
    } */
    .cards-container {
        gap: 20px;
    }

}

/* medium device
 */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;

    }

    nav,
    .markating-container,
    .cards-container {
        flex-direction: column;

    }

    .markating-img {
        grid-template-columns: 1fr;

    }

    .cards-container {
        gap: 20px;
    }

}